/*
 * Sapphire
 *
 * Copyright (C) 2018 eq
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02111-1301  USA
 *
 */

/* User-editable palette -- based on Arc Dark */

:root {
    --bg-color: #2b2e39;
    --bg-accent-color: #3c414e;
    --text-color: #d3dae3;
    --text-disabled-color: rgba(211, 218, 227, 0.45);

    --border-color: var(--text-disabled-color);
    --dim-border-color: rgba(211, 218, 227, 0.1);
    --message-border-color: var(--dim-border-color); /* Are we sure we want to define specific elements' colors in this file..? */

    --select-bg-color: #5294e2;
    --select-text-color: white;

    --modal-screen-bg-color: rgba(53, 57, 69, 0.95);
    --modal-content-bg-color: rgb(53, 57, 69);
    --modal-text-color: var(--text-color);

    --button-bg-color: var(--bg-accent-color);
    --button-text-color: var(--text-color);
    --accent-button-bg-color: rgba(82, 148, 226, 0.95);
    --accent-button-text-color: white;

    --scroll-color: var(--button-color);
    --scroll-thumb-color: rgba(92, 97, 108, 0.55);

    --link-color: #a9caf1;

    --chat-switch-color: rgba(255, 255, 255, 0.1);

    --red-color: #fc4137;
    --orange-color: #f27835;
    --green-color: #84b232;
    --blue-color: #5294e2;
    --pink-color: #e25193;

    --buddy-unread-color: var(--select-bg-color);
    --buddy-typing-color: var(--green-color);

    --status-online-color: var(--green-color);
    --status-away-color: white;
    --status-dnd-color: var(--red-color);
}
